


@model LoginViewModel 

    <h1>Sign In With</h1>
    <form asp-controller="Auth" asp-action="ExternalLogin" 
          asp-route-returnUrl="@Model.ReturnUrl" method="post">

        @foreach(var provider in Model.ExternalProviders)
        {
        <button name="provider"
                type="submit"
                value="@provider.Name">
             @provider.Name
        </button>
        }
    </form>

<form asp-controller="Auth" asp-action="Login" method="post">
        @*hidden gia to returnUrl*@
    <input type="hidden" asp-for="ReturnUrl" />
        <label style="background-color:red;">@ViewBag.Message</label>
        <div>
            <label>Username</label>
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label>Password</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    <div>
        <button type="submit">SignIn</button>
    </div>
<a asp-controller="Auth" asp-action="Register"
   asp-route-returnUrl="@Model.ReturnUrl">Register</a>
</form>